@font-face {
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.akamai.steamstatic.com/apps/dota2/fonts/radiance.woff") format("woff");
  font-family: "Radiance";
}

* {
  font-family: "Radiance", sans-serif;
  letter-spacing: 1px;
}

html {
  background-color: #1d1e21;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0;
  min-height: 100%;
  color: #949ea1;
}

.main-container,
.command-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.main-container {
  gap: 48px;
  user-select: none;
}

.wheel-section {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.wheel-container {
  display: grid;
  position: relative;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". top ."
    "left1 . right1"
    "left2 . right2"
    "left3 . right3"
    ". bottom .";
  align-items: center;
  justify-items: center;
  gap: 16px;
  width: 100%;
  height: 90%;
}

/* SVG container for connecting lines */
.wheel-lines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  pointer-events: none;

  svg {
    width: 100%;
    height: 100%;
  }
}

.wheel-line {
  stroke: #292d2e;
  stroke-width: 3;
}

.wheel-center {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 8em;

  img {
    width: 100%;
    height: auto;
  }

  &::before {
    position: absolute;
    z-index: -1;
    border-radius: 100%;
    background: radial-gradient(closest-side, #1d1e21 50%, transparent);
    width: 200%;
    height: 200%;
    content: "";
  }
}

.wheel-slot[data-index="0"] {
  grid-area: top;
}
.wheel-slot[data-index="1"] {
  grid-area: right1;
}
.wheel-slot[data-index="2"] {
  grid-area: right2;
}
.wheel-slot[data-index="3"] {
  grid-area: right3;
}
.wheel-slot[data-index="4"] {
  grid-area: bottom;
}
.wheel-slot[data-index="5"] {
  grid-area: left3;
}
.wheel-slot[data-index="6"] {
  grid-area: left2;
}
.wheel-slot[data-index="7"] {
  grid-area: left1;
}

.wheel-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid #424b46;
  border-radius: 24px;
  background-color: #2c3031;
  padding: 24px;
  width: 100%;
  height: 100%;
  text-align: center;

  &.selected {
    border-color: #6692db;
    background-color: #16439e;
    color: white;
  }
}

.options-section {
  flex: 1;
  transition: 0.2s;
  border: 2px solid black;
  border-radius: 2px;
  background-color: #212124;
  padding: 48px 24px;
  height: 480px;
  overflow-y: auto;

  &:not(.is-active) :not(.options-hint) {
    display: none;
  }

  &.is-active {
    box-shadow: 0 0 16px black;
    background: linear-gradient(#2d3856, #1f242b);
  }
}

.options-hint {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.options-header {
  margin-top: 0;
  margin-bottom: 16px;
  border-bottom: 1px solid #424b46;
  padding-bottom: 4px;
}

.options-search {
  position: sticky;
  top: -24px;
  margin-bottom: 8px;

  input {
    box-sizing: border-box;
    outline: none;
    border: 1px solid #424b46;
    border-radius: 4px;
    background-color: #2c3031;
    padding: 8px;
    width: 100%;
    color: #fdedd5;
  }
}

.options-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    transition: 0.2s;
    cursor: pointer;
    border-radius: 2px;
    padding: 8px;
    color: #fdedd5;

    &.is-selected {
      background-color: #0e78b9;
    }
  }
}

.command-container {
  gap: 16px;
}

.command-output {
  border: none;
  border-radius: 2px;
  background-color: #212124;
  padding: 8px;
  width: 100%;
  resize: none;
  color: white;
  font-family: monospace;
  letter-spacing: 0;
  word-break: break-all;
}

.command-reset,
.command-copy {
  transition: 0.2s;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #2c3031;
  padding: 16px;
  color: white;
  font-size: medium;
  white-space: nowrap;
}

.command-copy {
  background: linear-gradient(#373e45, #4e5961);
  text-shadow: 2px 2px black;
}

@media only screen and (max-width: 768px) {
  body {
    gap: 16px;
  }

  .main-container {
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;
  }

  .options-section {
    flex: none;
  }

  .command-container {
    margin-bottom: 48px;
  }
}
